<template>
  <b-container fluid="">
    <n-title-box/>

    <b-form @submit.prevent="onAdd">
      <sample-album-add ref="AddComponent"/>

      <b-row>
        <b-col class="text-center">
          <n-confirm type="ADD">
            <b-button variant="primary" type="submit" class="mr-3">등록</b-button>
          </n-confirm>

          <b-button variant="secondary" type="button" @click="onCancel">취소</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {Shared}           from '@/app/shared/model/shared.model';
import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';
import SampleAlbumAdd     from '@/app/sample/album/view/sample-album-add.vue';

@Component({
  components: {SampleAlbumAdd}
})
export default class SampleAlbumAddPage extends Vue {
  store = SampleAlbumStore.getInstance();

  onAdd() {
    this.store.actions.add(this.$mapper.toObject(SampleAlbum.Request.Add, this.$refs.AddComponent[`add`]));
  }

  onCancel() {
    this.$router.back();
  }

  @Watch('store.state.result')
  getResult() {
    const result: Shared.Response.ActionResult = this.store.getters.getResult();
    if (result.action === this.$enum.CORE.ACTION.RESULT.ADD) {
      this.$router.back();
    }
  }
}
</script>
