<template>
  <b-row>
    <b-col>
      <b-container fluid="" class="search-box">
        <b-form @submit.prevent="onSearch">
          <b-row>
            <b-col>
              <label>title</label>
              <n-input name="title"
                       v-model="search.title"
                       :type="$enum.CORE.FORM.INPUT_TYPE.SEARCH"
                       placeholder="검색어를 입력하세요"/>
            </b-col>

            <n-search-buttons :isRefresh="true" @onRefresh="onRefresh"/>
          </b-row>
        </b-form>
      </b-container>

      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="onAdd">등록</b-button>
        </b-col>
      </b-row>

      <b-row class="mt-3">
        <b-col class="list-table">
          <table>
            <colgroup>
              <col v-if="isSelect" style="width:40px;"/>
              <col style="width:60px;"/>
              <col style="width:100px;"/>
              <col style="width:100px;"/>
              <col/>
            </colgroup>
            <thead>
            <tr>
              <th v-if="isSelect" style="width:40px;"></th>
              <th>번호</th>
              <th>id</th>
              <th>userId</th>
              <th>title</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in list" @click="onRow(item.id)" :class="{'handle': !isSelect}">
              <td v-if="isSelect">
                <b-radio v-model="checks" :value="item" name="id"/>
              </td>
              <td>
                <n-list-number :index="index" :target="list" :is-page="false"/>
              </td>
              <td>{{ item.id }}</td>
              <td>{{ item.userId }}</td>
              <td class="text-left">{{ item.title }}</td>
            </tr>

            <tr v-if="!list || (!!list && list.length === 0)">
              <td :colspan="isSelect ? '5' : '4'">검색 결과가 없습니다.</td>
            </tr>
            </tbody>
          </table>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';
import {ConditionStore}   from '@/app/shared/vuex/condition/condition.store';

@Component
export default class SampleAlbumList extends Vue {
  checks: SampleAlbum.Response.FindAll | null = null;
  list: SampleAlbum.Response.FindAll[] = [];
  search: SampleAlbum.Request.Search = new SampleAlbum.Request.Search();
  searchOrg: SampleAlbum.Request.Search = new SampleAlbum.Request.Search();
  condition = ConditionStore.getInstance();
  store = SampleAlbumStore.getInstance();

  @Prop({type: Boolean, default: false})
  isSelect!: boolean;

  created() {
    if (!this.isSelect) {
      const search = this.condition.getters.getCondition(this.$enum.CORE.ACTION.CONDITION.SAMPLE_ALBUM);
      if (!!search) {
        this.search = search;
      }
    }

    this.setSearchOrg();
    this.searchList(this.searchOrg);
  }

  onSearch() {
    this.setSearchOrg();
    this.searchList(this.searchOrg);
  }

  onRefresh() {
    this.search = new SampleAlbum.Request.Search();
  }

  searchList(search: SampleAlbum.Request.Search) {
    this.setCondition();
    this.store.actions.getList(search);
  }

  onAdd() {
    if (!this.isSelect) {
      this.$emit('onAdd', null);
    }
  }

  onRow(id: number) {
    if (!this.isSelect) {
      this.$emit('onRow', id);
    }
  }

  @Watch('store.state.list')
  getList() {
    this.list = this.store.getters.getList();
  }

  private setSearchOrg() {
    this.searchOrg = this.$util.objectAssign(this.search);
  }

  private setCondition() {
    if (!this.isSelect) {
      this.condition.actions.setCondition({key: this.$enum.CORE.ACTION.CONDITION.SAMPLE_ALBUM, type: SampleAlbum.Request.Search, data: this.searchOrg});
    }
  }
}
</script>
