<template>
  <b-container class="view-box" fluid="">
    <b-row>
      <b-col class="title">
        기본 정보
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <label>userId<span class="em-check">*</span></label>
        <n-input name="userId"
                 v-model="modify.userId"
                 :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                 :number="true"
                 :parent="modify"/>
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12">
        <label>title<span class="em-check">*</span></label>
        <n-input name="title"
                 v-model="modify.title"
                 :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                 :parent="modify"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';

@Component
export default class SampleAlbumModify extends Vue {
  modify: SampleAlbum.Request.Modify = new SampleAlbum.Request.Modify();
  store = SampleAlbumStore.getInstance();

  @Prop({default: null})
  id!: string;

  created() {
    this.store.actions.getOne(this.id);
  }

  @Watch('store.state.one')
  getOne() {
    this.modify = this.store.getters.getModify();
  }
}
</script>
