<template>
  <b-container fluid="">
    <n-title-box/>

    <sample-album-detail :id="$route.params.id"/>

    <b-row>
      <b-col class="text-center">
        <b-button variant="primary" class="mr-3" @click="onModify">수정</b-button>

        <n-confirm type="DELETE">
          <b-button variant="danger" @click="onDelete" class="mr-3">삭제</b-button>
        </n-confirm>

        <b-button variant="secondary" @click="onCancel">취소</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {Shared}           from '@/app/shared/model/shared.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';
import SampleAlbumDetail  from '@/app/sample/album/view/sample-album-detail.vue';

@Component({
  components: {SampleAlbumDetail}
})
export default class SampleAlbumDetailPage extends Vue {
  store = SampleAlbumStore.getInstance();

  onDelete() {
    this.store.actions.delete(this.$route.params.id);
  }

  onModify() {
    this.$router.push(`../modify/${this.$route.params.id}`);
  }

  onCancel() {
    this.$router.back();
  }

  @Watch('store.state.result')
  getResult() {
    const result: Shared.Response.ActionResult = this.store.getters.getResult();
    if (result.action === this.$enum.CORE.ACTION.RESULT.DELETE) {
      this.$router.back();
    }
  }
}
</script>
