<template>
  <b-container class="view-box" fluid="">
    <b-row>
      <b-col class="title">
        기본 정보
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="2">
        <label>id</label>
      </b-col>
      <b-col cols="4">
        {{ detail.id }}
      </b-col>

      <b-col cols="2">
        <label>userId</label>
      </b-col>
      <b-col cols="4">
        {{ detail.userId }}
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="2">
        <label>title</label>
      </b-col>
      <b-col cols="10">
        {{ detail.title }}
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {SampleAlbum}      from '@/app/sample/album/model/sample-album.model';
import {SampleAlbumStore} from '@/app/sample/album/vuex/sample-album.store';

@Component
export default class SampleAlbumDetail extends Vue {
  detail: SampleAlbum.Response.FindOne = new SampleAlbum.Response.FindOne();
  store = SampleAlbumStore.getInstance();

  @Prop({default: null})
  id!: string;

  created() {
    this.store.actions.getOne(this.id);
  }

  @Watch('store.state.one')
  getOne() {
    this.detail = this.store.getters.getOne();
  }
}
</script>
