<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          I18n
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Require<span class="em-check">*</span></label>
          <n-i18n-input title="Input"
                        v-model="form.require"
                        :type="$enum.CORE.I18N.MODEL.REQUIRE"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Optional<span class="em-check">*</span></label>
          <n-i18n-input title="Input"
                        v-model="form.optional"
                        :type="$enum.CORE.I18N.MODEL.OPTIONAL"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Textarea Require<span class="em-check">*</span></label>
          <n-i18n-textarea title="Input"
                        v-model="form.areaRequire"
                        :type="$enum.CORE.I18N.MODEL.REQUIRE"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Textarea Optional<span class="em-check">*</span></label>
          <n-i18n-textarea title="Input"
                           v-model="form.areaOptional"
                           :type="$enum.CORE.I18N.MODEL.OPTIONAL"/>
        </b-col>
      </b-row>

      <b-button variant="secondary" @click="validateForm(form)">validateForm</b-button>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Require</label>
        </b-col>
        <b-col cols="4">
          <n-i18n-display v-model="form.require"/>
        </b-col>

        <b-col cols="2">
          <label>Input Optional</label>
        </b-col>
        <b-col cols="4">
          <n-i18n-display v-model="form.optional"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Textarea Require</label>
        </b-col>
        <b-col cols="4">
          <n-i18n-textarea-display v-model="form.areaRequire"/>
        </b-col>

        <b-col cols="2">
          <label>Textarea Optional</label>
        </b-col>
        <b-col cols="4">
          <n-i18n-textarea-display v-model="form.areaOptional"/>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Validate} from '@/core/decorator/validate.decorator';
import {Guide}    from '@/app/guide/model/guide.model';

@Component
export default class GuideI18n extends Vue {
  form: Guide.GuideI18n = new Guide.GuideI18n();

  @Validate
  validateForm(params: Guide.GuideI18n) {
    console.log(params);
  }
}
</script>
