<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Spinner
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button class="mr-1" @click="onDefaultSpinner">DEFAULT</b-button>
          <b-button class="mr-1" @click="onWriteSpinner">WRITE</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class GuideSpinner extends Vue {
  onDefaultSpinner() {
    this.$broadcast.onDefaultSpinner(true);

    setTimeout(() => {
      this.$broadcast.onDefaultSpinner(false);
    }, 3 * 1000);
  }

  onWriteSpinner() {
    this.$broadcast.onWriteSpinner(true);

    setTimeout(() => {
      this.$broadcast.onWriteSpinner(false);
    }, 3 * 1000);
  }
}
</script>
