<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Tabs
        </b-col>
      </b-row>

      <b-container class="view-box tab-menu-head mt-5" fluid="">
        <div class="tab-menu">
          <b-button variant="dark"
                    class="mr-3 on">
            기본정보
          </b-button>

          <b-button variant="dark"
                    class="mr-3">
            유선
          </b-button>

          <b-button variant="dark"
                    class="mr-3">
            무선
          </b-button>
        </div>

        <div class="btns">
          <b-button variant="dark"
                    type="button"
                    class="mr-2 ico-btn-prev">
            <span>이전</span>
          </b-button>

          <b-button variant="dark"
                    type="button"
                    class="ico-btn-next">
            <span>다음</span>
          </b-button>
        </div>
      </b-container>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class GuideTabs extends Vue {

}
</script>
