<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Editor
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Editor</label>
          <n-code-editor v-model="params.editor"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <div v-html="params.editor" class="channel_detail"/>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {Guide} from '@/app/guide/model/guide.model';

@Component
export default class GuideEditor extends Vue {
  params: Guide.Editor = new Guide.Editor;
}
</script>
