<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Forms
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Modal Input<span class="em-check">*</span></label>
          <b-input-group>
            <b-input :state="true" readonly autocomplete="off"/>

            <b-input-group-append>
              <b-button size="sm" variant="success" class="input-button">
                <i class="fas fa-plus"></i>
              </b-button>

              <b-button size="sm" variant="warning" class="input-button">
                <i class="fas fa-pen"></i>
              </b-button>

              <b-button size="sm" variant="info" class="input-button">
                <i class="fas fa-search"></i>
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Text<span class="em-check">*</span></label>
          <n-input name="inputText"
                   v-model="form.inputText"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"
                   :max-length="3"/>
        </b-col>

        <b-col>
          <label>Input Number<span class="em-check">*</span></label>
          <n-input name="inputNumber"
                   v-model="form.inputNumber"
                   :type="$enum.CORE.FORM.INPUT_TYPE.NUMBER"
                   :number="true"
                   :parent="form"
                   step="1"
                   :min="0"
                   :max="600"
                   :max-length="3"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Url<span class="em-check">*</span></label>
          <n-input name="inputUrl"
                   v-model="form.inputUrl"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"/>
        </b-col>

        <b-col>
          <label>Input Relative Url<span class="em-check">*</span></label>
          <n-input name="inputRelativeUrl"
                   v-model="form.inputRelativeUrl"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Color<span class="em-check">*</span></label>
          <n-color name="inputColor"
                   v-model="form.inputColor"
                   :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>
            Select Enum<span class="em-check">*</span>
            <n-hint title="Select Enum" :enums="guideEnum.SELECT"/>
          </label>
          <n-select name="selectEnum"
                    v-model="form.selectEnum"
                    :defaultAs="$enum.CORE.FORM.OPTIONS.ALL"
                    :enum="guideEnum.SELECT"
                    :parent="form"/>
        </b-col>

        <b-col>
          <label>Select Boolean<span class="em-check">*</span></label>
          <n-select name="selectBoolean"
                    v-model="form.selectBoolean"
                    :option="$boolean.COMMON"
                    :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Date Time Picker<span class="em-check">*</span></label>
          <n-date-time name="dateTime"
                       v-model="form.dateTime"
                       :parent="form"/>
        </b-col>

        <b-col>
          <label>Date Time Second Picker<span class="em-check">*</span></label>
          <n-date-time name="dateTimeSecond"
                       v-model="form.dateTimeSecond"
                       :datePattern="$enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME_SECOND"
                       :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Date Time Range Picker<span class="em-check">*</span></label>
          <n-date-time-range name="dateTimeRangeStart"
                             :startDate="form.dateTimeRangeStart"
                             :endDate="form.dateTimeRangeEnd"
                             :keys="{ startDate: 'dateTimeRangeStart', endDate: 'dateTimeRangeEnd', startIndex: 0, endIndex: 0 }"
                             :parent="form"
                             @input="changeDateTimeRange"/>
        </b-col>

        <b-col>
          <label>Date Time Second Range Picker<span class="em-check">*</span></label>
          <n-date-time-range name="dateTimeSecondRangeStart"
                             :startDate="form.dateTimeSecondRangeStart"
                             :endDate="form.dateTimeSecondRangeEnd"
                             :keys="{ startDate: 'dateTimeSecondRangeStart', endDate: 'dateTimeSecondRangeEnd', startIndex: 0, endIndex: 0 }"
                             :datePattern="$enum.CORE.FORM.DATE_FORMAT.DISPLAY_DATE_TIME_SECOND"
                             :parent="form"
                             @input="changeDateTimeRange"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Text Area<span class="em-check">*</span></label>
          <n-textarea name="textarea"
                      v-model="form.textarea"
                      :limits="3"
                      :parent="form"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>Input Disable<span class="em-check">*</span></label>
          <n-input name="inputTextDisable"
                   v-model="form.inputTextDisable"
                   :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                   :parent="form"
                   :disabled="true"/>
        </b-col>

        <b-col>
          <label>Select Disable<span class="em-check">*</span></label>
          <n-select name="selectEnumDisable"
                    v-model="form.selectEnumDisable"
                    :defaultAs="$enum.CORE.FORM.OPTIONS.ALL"
                    :enum="guideEnum.SELECT"
                    :parent="form"
                    :disabled="true"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label>노출여부</label>
          <b-form-radio-group v-model="form.radio">
            <b-form-radio :value="'1'">first</b-form-radio>
            <b-form-radio :value="'2'">second</b-form-radio>
            <b-form-radio :value="'3'">third</b-form-radio>
          </b-form-radio-group>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Detail
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Input Text</label>
        </b-col>
        <b-col cols="4">
          {{ form.inputText }}
        </b-col>

        <b-col cols="2">
          <label>Input Number</label>
        </b-col>
        <b-col cols="4">
          {{ form.inputNumber }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Color Display</label>
        </b-col>
        <b-col cols="10">
          <n-color-display v-model="form.inputColor"/>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Filter Enum</label>
        </b-col>
        <b-col cols="4">
          {{ form.selectEnum | enumCodeFilter(guideEnum.SELECT) }}
        </b-col>

        <b-col cols="2">
          <label>Filter Boolean</label>
        </b-col>
        <b-col cols="4">
          {{ form.selectBoolean | booleanFilter($boolean.COMMON) }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Date Time</label>
        </b-col>
        <b-col cols="4">
          {{ form.dateTime }}
        </b-col>

        <b-col cols="2">
          <label>Date Time Second</label>
        </b-col>
        <b-col cols="4">
          {{ form.dateTimeSecond }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Date Time Range</label>
        </b-col>
        <b-col cols="10">
          {{ form.dateTimeRangeStart }} ~ {{ form.dateTimeRangeEnd }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Date Time Second Range</label>
        </b-col>
        <b-col cols="10">
          {{ form.dateTimeSecondRangeStart }} ~ {{ form.dateTimeSecondRangeEnd }}
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <label>Text Area</label>
        </b-col>
        <b-col cols="10">
          {{ form.textarea }}
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {GUIDE_ENUM} from '@/app/guide/model/guide-enum.model';
import {Guide}      from '@/app/guide/model/guide.model';
import {DateTime}   from '@/app/shared/model/date-time.model';

@Component
export default class GuideForm extends Vue {
  form: Guide.Form = new Guide.Form;
  guideEnum = GUIDE_ENUM;

  changeDateTimeRange(data: DateTime.RangeCallback) {
    this.form[data.keys.startDate] = data.startDate;
    this.form[data.keys.endDate] = data.endDate;
  }
}
</script>
