<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Toast
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button @click="onMessageToast">메시지 토스트</b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class GuideToast extends Vue {
  onMessageToast() {
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.primary, '제목', '내용');
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.secondary, '제목', '내용');
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.success, '제목', '내용');
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.warning, '제목', '내용');
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.info, '제목', '내용');
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.light, '제목', '내용');
    this.$broadcast.onToasts(this.$enum.CORE.TOASTS.VARIANT.dark, '제목', '내용');
  }
}
</script>
