<template>
  <b-container fluid="">
    <n-title-box/>

    <b-container class="view-box" fluid="">
      <b-row>
        <b-col class="title">
          Variant
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button class="mr-1" variant="info">info</b-button>
          <b-button class="mr-1" variant="primary">primary</b-button>
          <b-button class="mr-1" variant="warning">warning</b-button>
          <b-button class="mr-1" variant="success">success</b-button>
          <b-button class="mr-1" variant="dark">dark</b-button>
          <b-button class="mr-1" variant="danger">danger</b-button>
          <b-button class="mr-1" variant="secondary">secondary</b-button>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Size
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button class="mr-1" size="lg">lg</b-button>
          <b-button class="mr-1">default</b-button>
          <b-button class="mr-1" size="sm">sm</b-button>
          <b-button class="mr-1 btn-tiny">tiny</b-button>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Type
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button class="mr-1" variant="primary">default</b-button>
          <b-button class="mr-1" variant="primary" squared>squared</b-button>
          <b-button class="mr-1" variant="primary" pill>pill</b-button>
          <b-button class="mr-1" variant="outline-primary">outline</b-button>
          <b-button class="mr-1" variant="outline-primary" squared>outline-squared</b-button>
          <b-button class="mr-1" variant="outline-primary" pill>outline-pill</b-button>
        </b-col>
      </b-row>

      <b-row>
        <b-col class="title">
          Confirm
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <n-confirm type="ADD">
            <b-button variant="primary" squared class="mr-1">ADD</b-button>
          </n-confirm>

          <n-confirm type="UPDATE">
            <b-button variant="success" squared class="mr-1">UPDATE</b-button>
          </n-confirm>

          <n-confirm type="DELETE">
            <b-button variant="danger" squared class="mr-1">DELETE</b-button>
          </n-confirm>

          <n-confirm :messages="{title:'로그아웃 하시겠습니까?', yes:'예', no:'아니오'}"
                     yesClass="btn btn-warning btn-sm"
                     noClass="btn btn-secondary btn-sm">
            <b-button variant="dark" squared class="mr-1">CUSTOM</b-button>
          </n-confirm>

          <n-confirm-event type="DEFAULT" @callback="onConfirmEvent">
            <b-button variant="danger" squared class="mr-1">n-confirm-event</b-button>
          </n-confirm-event>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          n-confirm-event Callback: {{ callback }}
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class GuideButton extends Vue {
  callback: string = '';

  onConfirmEvent(callback: string) {
    this.callback = callback;
  }
}
</script>
