<template>
  <div>
    <template v-if="!!value">
      <span class="span-icon icon-type-1 color-display mr-1"
            :style="{'background-color': value}"/>
      {{ value }}
    </template>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class NColorDisplay extends Vue {
  @Prop({type: String, default: null})
  value!: string;
}
</script>
