<template>
  <div>
    <span :id="randomId" class="word-break-break-all">
      <span class="span-icon2 icon-type-2 status-12 mr-1">다국어</span>{{ name }}
    </span>

    <b-popover :target="randomId"
               custom-class="popover-none"
               triggers="hover focus">
      <template slot="title">
        <div class="popover-title">다국어</div>
      </template>

      <b-row>
        <b-col>
          <n-i18n-display v-model="value" :isTag="false"/>
        </b-col>
      </b-row>
    </b-popover>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import {Enum}           from '@/app/shared/enum/enum';
import {I18n}           from '@/app/shared/model/i18n.model';
import {broadcast}      from '@/core/service/broadcast.service';
import I18nInputService from '@/app/shared/service/i18n-input.service';

@Component
export default class NI18nOneDisplay extends Vue {
  name: string = '';
  randomId: string = this.$util.getRandomKey('NI18nOneDisplay');
  i18nInputService = new I18nInputService();

  @Prop({default: null})
  value!: I18n.Response.Default[] | null;

  created() {
    this.getDisplay();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getDisplay);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getDisplay);
  }

  @Watch('value', {deep: true, immediate: true})
  getValue() {
    this.getDisplay();
  }

  private getDisplay() {
    this.$nextTick(() => {
      if (!!this.value) {
        this.name = this.i18nInputService.getContent(this.value);
      }
    });
  }
}
</script>
