<template>
  <b-container fluid="">
    <n-title-box/>

    <h1>DASH BOARD</h1>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class DashboardContainer extends Vue {
}
</script>
