.channel_detail {
  background-color: #0a0a0f;
  padding: 40px 15px;

  .list-title {
    margin: 0 0 16px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 500;
  }

  .list-desc {
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;

    & + list-desc {
      margin-top: 8px;
    }
  }

  .list-guide {
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
  }

  .list-depth1 {
    margin: 16px 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 500;
  }

  .list-depth2 {
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
  }

  ul, ol {
    list-style-type: none;
  }
}
