<template>
  <div>
    <img v-if="!!value"
         :src="`${imageFileUrl}/${value.path}`"
         class="handle"
         :style="{
      'width': `${size}px !important`,
      'height': `${size}px !important`,
         }"
         @click="onClick($event)"
         alt="img"/>

    <img v-if="!value"
         src="@/assets/images/blank_200.png"
         :style="{
      'width': `${size}px !important`,
      'height': `${size}px !important`,
         }"
         alt="img"/>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import {Image} from '@/app/shared/model/image.model';

@Component
export default class NImage extends Vue {
  readonly imageFileUrl: string = process.env.VUE_APP_IMAGE_FILE_URL;

  @Prop({default: null})
  value!: Image.Response.Default;

  @Prop({type: Number, default: 50})
  size!: number;

  onClick(event: Event) {
    event.stopPropagation();
    if (!!this.value) {
      this.$broadcast.onDefaultImageViewer(`${this.imageFileUrl}/${this.value.path}`);
    }
  }
}
</script>
