<template>
  <b-modal v-model="isVisible"
           id="GuideEditModal"
           centered
           size="xl"
           title="가이드 편집"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <b-container class="view-box" fluid="">
        <b-row>
          <b-col class="title">
            기본 정보
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <label>Input Text<span class="em-check">*</span></label>
            <n-input name="inputText"
                     v-model="form.inputText"
                     :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                     :parent="form"/>
          </b-col>

          <b-col>
            <label>Input Number<span class="em-check">*</span></label>
            <n-input name="inputNumber"
                     v-model="form.inputNumber"
                     :number="true"
                     :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                     :parent="form"/>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <label>Input Color<span class="em-check">*</span></label>
            <n-color name="inputColor"
                     v-model="form.inputColor"/>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <label>Select Enum<span class="em-check">*</span></label>
            <n-select name="select"
                      v-model="form.selectEnum"
                      :defaultAs="$enum.CORE.FORM.OPTIONS.ALL"
                      :enum="guideEnum.SELECT"
                      :parent="form"/>
          </b-col>

          <b-col>
            <label>Select Boolean<span class="em-check">*</span></label>
            <n-select name="selectBoolean"
                      v-model="form.selectBoolean"
                      :option="$boolean.COMMON"
                      :parent="form"/>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <label>Text Area<span class="em-check">*</span></label>
            <n-textarea name="textarea"
                        v-model="form.textarea"
                        :limits="3"
                        :parent="form"/>
          </b-col>
        </b-row>

        <b-row>
          <b-col class="title">목록</b-col>
          <b-col class="title text-right">
            <b-button type="button" variant="dark" class="mr-3">추가</b-button>
            <b-button variant="danger" type="button">삭제</b-button>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col class="list-table sticky-table">
            <div class="sticky-table-wrap" style="max-height: 300px;">
              <table>
                <colgroup>
                  <col style="width:60px;"/>
                  <col style="width:25%;"/>
                  <col/>
                  <col style="width:100px;"/>
                  <col style="width:100px;"/>
                  <col style="width:150px;"/>
                </colgroup>
                <thead>
                <tr>
                  <th style="width:60px;">번호</th>
                  <th style="width:25%;">이름</th>
                  <th>URL</th>
                  <th style="width:100px;">노출여부</th>
                  <th style="width:100px;">등록자</th>
                  <th style="width:150px;">등록일시</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in items">
                  <td>
                    <n-list-number :index="index" :target="items.length" :is-page="false"/>
                  </td>
                  <td>
                    <n-input name="name"
                             v-model="item.name"
                             :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                             :parent="item"/>
                  </td>
                  <td>
                    <n-input name="url"
                             v-model="item.url"
                             :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                             :parent="item"/>
                  </td>
                  <td>
                    <n-select name="displayYn"
                              v-model="item.displayYn"
                              :option="$boolean.COMMON"
                              :parent="item"/>
                  </td>
                  <td>{{ item.createdBy }}</td>
                  <td>{{ item.createdAt | dateFilter }}</td>
                </tr>

                <tr v-if="!items || (!!items && items.length === 0)">
                  <td colspan="6">검색 결과가 없습니다.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <template slot="modal-footer" slot-scope="{ok, hide}">
      <div class="w-100 text-center">
        <n-confirm type="UPDATE">
          <b-button variant="primary">수정</b-button>
        </n-confirm>
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch} from 'vue-property-decorator';

import {GUIDE_ENUM} from '@/app/guide/model/guide-enum.model';
import {Guide}      from '@/app/guide/model/guide.model';

@Component
export default class GuideEditModal extends Vue {
  isVisible: boolean = true;
  guideEnum = GUIDE_ENUM;
  form: Guide.Form = new Guide.Form;
  items = [
    new Guide.Page(1, 'TEST'),
    new Guide.Page(2, 'TEST'),
    new Guide.Page(3, 'TEST'),
    new Guide.Page(4, 'TEST'),
    new Guide.Page(5, 'TEST'),
    new Guide.Page(6, 'TEST'),
    new Guide.Page(7, 'TEST'),
    new Guide.Page(8, 'TEST'),
    new Guide.Page(9, 'TEST'),
    new Guide.Page(10, 'TEST'),
  ];

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
