<template>
  <b-modal v-model="isVisible"
           id="GuideDetailModal"
           centered
           size="xl"
           title="가이드 상세"
           header-bg-variant="info"
           header-text-variant="light"
           :no-enforce-focus="true"
           :no-close-on-backdrop="true">

    <template slot="default">
      <b-container class="view-box" fluid="">
        <b-row>
          <b-col class="title">
            기본 정보
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="2">
            <label>데이터 1</label>
          </b-col>
          <b-col cols="4">
            데이터 1
          </b-col>

          <b-col cols="2">
            <label>데이터 2</label>
          </b-col>
          <b-col cols="4">
            데이터 2
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="2">
            <label>데이터 3</label>
          </b-col>
          <b-col cols="4">
            데이터 3
          </b-col>

          <b-col cols="2">
            <label>데이터 4</label>
          </b-col>
          <b-col cols="4">
            데이터 4
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="2">
            <label>데이터 5</label>
          </b-col>
          <b-col cols="10">
            데이터 5
          </b-col>
        </b-row>

        <b-row>
          <b-col class="title">
            목록
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col class="list-table sticky-table">
            <div class="sticky-table-wrap" style="max-height: 300px;">
              <table>
                <colgroup>
                  <col style="width:60px;"/>
                  <col style="width:25%;"/>
                  <col/>
                  <col style="width:100px;"/>
                  <col style="width:100px;"/>
                  <col style="width:150px;"/>
                </colgroup>
                <thead>
                <tr>
                  <th style="width:60px;">번호</th>
                  <th style="width:25%;">이름</th>
                  <th>URL</th>
                  <th style="width:100px;">노출여부</th>
                  <th style="width:100px;">등록자</th>
                  <th style="width:150px;">등록일시</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in items">
                  <td>
                    <n-list-number :index="index" :size="items.length"/>
                  </td>
                  <td class="text-left">{{ item.name }}</td>
                  <td class="text-left">{{ item.url }}</td>
                  <td>{{ item.displayYn | booleanFilter($boolean.COMMON) }}</td>
                  <td>{{ item.createdBy }}</td>
                  <td>{{ item.createdAt | dateFilter }}</td>
                </tr>

                <tr v-if="!items || (!!items && items.length === 0)">
                  <td colspan="6">검색 결과가 없습니다.</td>
                </tr>
                </tbody>
              </table>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <template slot="modal-footer" slot-scope="{hide}">
      <div class="w-100 text-center">
        <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
      </div>
    </template>
  </b-modal>
</template>

<script lang="ts">
import {Vue, Component, Watch} from 'vue-property-decorator';

import {Guide} from '@/app/guide/model/guide.model';

@Component
export default class GuideDetailModal extends Vue {
  isVisible: boolean = true;
  items = [
    new Guide.Page(1, 'TEST'),
    new Guide.Page(2, 'TEST'),
    new Guide.Page(3, 'TEST'),
    new Guide.Page(4, 'TEST'),
    new Guide.Page(5, 'TEST'),
    new Guide.Page(6, 'TEST'),
    new Guide.Page(7, 'TEST'),
    new Guide.Page(8, 'TEST'),
    new Guide.Page(9, 'TEST'),
    new Guide.Page(10, 'TEST'),
  ];

  @Watch('isVisible')
  setModal() {
    if (!this.isVisible) {
      this.$emit('input', null);
    }
  }
}
</script>
