<template>
  <b-container class="pad-zero"
               fluid=""
               :class="{'menu-close': !collapsed, 'menu-open': collapsed}">
    <sidebar-menu :menu="menus"
                  :collapsed="collapsed"
                  @toggle-collapse="onToggleCollapse"
                  @item-click="onItemClick"
                  :width="'180px'"
                  :widthCollapsed="'50px'"/>
    <header-bar/>

    <b-row class="pad-zero">
      <b-col>
        <b-row class="content">
          <b-col>
            <router-view/>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>


<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {SidebarMenu}    from 'vue-sidebar-menu';

import {Layout}         from '@/app/system/model/layout.model';
import LayoutService    from '@/app/system/service/layout.service';
import {ConditionStore} from '@/app/shared/vuex/condition/condition.store';
import HeaderBar        from '@/app/system/view/header-bar.vue';

@Component({
  components: {
    SidebarMenu,
    HeaderBar,
  },
})
export default class DefaultLayout extends Vue {
  collapsed = false;
  menus: Layout.LeftMenu[] = [];
  condition = ConditionStore.getInstance();
  layoutService = new LayoutService();

  created() {
    this.menus = this.layoutService.getMenu();
  }

  onToggleCollapse(collapsed) {
    this.collapsed = collapsed;
  }

  onItemClick() {
    this.condition.actions.refreshCondition();
  }
}
</script>

<style scoped>
.menu-close {
  padding-left: 180px;
}

.menu-open {
  padding-left: 50px;
}

.content {
  padding-top: 60px;
}
</style>
