<template>
  <b-container fluid="">
    <b-row class="login">
      <b-col class="create-pop">
        <router-view class="create-area"/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class EmptyLayout extends Vue {
}
</script>
