<template>
  <div class="header-color super_upper">
    <b-row>
      <b-col>
        <h1 class="logo">
          <img src="@/assets/images/logo.png" alt="logo"/>
        </h1>
      </b-col>

      <b-col>
        <div class="text-right">
          <div class="user-name"><i class="fas fa-user"/>사용자</div>
          <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none" no-caret>
            <template v-slot:button-content>
              <i class="font-white fas fa-ellipsis-v"/>
            </template>
            <b-dropdown-item>내정보</b-dropdown-item>
            <b-dropdown-item @click="onSetting">설정</b-dropdown-item>
            <b-dropdown-item @click="onLogout">로그아웃</b-dropdown-item>
          </b-dropdown>
        </div>
      </b-col>
    </b-row>

    <component :is="modal" v-model="modal"></component>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';

import StorageService     from '@/app/shared/service/storage.service';
import SystemSettingModal from '@/app/system/component/modal/system-setting.modal.vue';

@Component
export default class HeaderBar extends Vue {
  modal: any = null;
  storageService = new StorageService();

  async onSetting() {
    this.modal = await SystemSettingModal;
  }

  onLogout() {
    this.storageService.resetLocalStorage();
    this.$router.push('/auth/login');
  }
}
</script>

<style scoped>
.header-color {
  background: #2a2a2e;
  position: fixed;
  left: 0;
  width: 100%;
}

.container-fluid {
  /*padding-left: 0px !important;*/
  /*padding-right: 0px !important;*/
}

.super_upper {
  z-index: 5 !important;
}

.font-white {
  color: white;
}

.main-title {
  font-size: large;
}

.logo {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin-top: 10px;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.menu-open .logo {
  margin-left: 70px !important
}

.menu-close .logo {
  margin-left: 230px !important
}
</style>
