<template>
  <div class="errorBox">
    <div class="errorInn">
      <div class="errorImg">
        <img src="@/assets/images/icon_error.png" alt="오류">
      </div>
      <dl class="errorText">
        <dt>페이지를 찾을수 없습니다.</dt>
        <dd>이전페이지로 이동해 주세요.</dd>
      </dl>
      <p class="errorBtn">
        <b-button variant="primary" type="button" @click="routerBack">돌아가기</b-button>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';

@Component
export default class NotFound extends Vue {

  routerBack() {
    this.$router.back();
  }
}
</script>
