<template>
  <div>
    <MonacoEditor v-if="isShow"
                  v-model="model"
                  class="editor"
                  language="html"
                  theme="vs-dark"
                  style="height: 500px;"/>
  </div>
</template>

<script lang="ts">
import MonacoEditor                  from 'vue-monaco';
import {Component, Vue, Prop, Watch} from 'vue-property-decorator';

@Component({
  components: {MonacoEditor}
})
export default class NCodeEditor extends Vue {
  isShow: boolean = false;
  model: string = '';

  @Prop({default: null})
  value!: string;

  created() {
    this.changeValue();
  }

  mounted() {
    this.$nextTick(() => {
      this.isShow = true;
    });
  }

  @Watch('value')
  changeValue() {
    this.model = this.value;
  }

  @Watch('model')
  changeModel() {
    this.$emit('input', this.model);
  }
}
</script>
