<template>
  <div>
    <b-input-group :prepend="prepend"
                   :append="append"
                   :id="randomId"
                   :style="{'float': this.position}">
      <b-form-textarea type="text"
                       v-model="name"
                       :placeholder="placeholder"
                       :state="state"
                       autocomplete="off"
                       :trim="trim"
                       readonly/>
    </b-input-group>

    <b-form-invalid-feedback :state="state">
      {{ getMessage }}
    </b-form-invalid-feedback>

    <b-popover :target="randomId"
               triggers="focus"
               custom-class="popover-60"
               :placement="placement">

      <template slot="title" v-if="!!title">
        <div class="popover-title">{{ title }}</div>
      </template>

      <template v-if="!!model">
        <b-container class="view-popover" fluid="">
          <b-row>
            <b-col cols="12" class="pl-0 pr-0">
              <label>
                {{ $enum.CORE.I18N.LANG.NAME.EN }}
                <template v-if="type === $enum.CORE.I18N.MODEL.REQUIRE">
                  <span class="em-check">*</span>
                </template>
              </label>
              <n-textarea name="EN"
                          v-model="model.EN"
                          :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                          :parent="model"/>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="12" class="pl-0 pr-0">
              <label>{{ $enum.CORE.I18N.LANG.NAME.KO }}</label>
              <n-textarea name="KO"
                          v-model="model.KO"
                          :type="$enum.CORE.FORM.INPUT_TYPE.TEXT"
                          :parent="model"/>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-popover>
  </div>
</template>

<script lang="ts">
import _                                       from 'lodash';
import {Component, Prop, PropSync, Vue, Watch} from 'vue-property-decorator';

import {Enum}           from '@/app/shared/enum/enum';
import {I18n}           from '@/app/shared/model/i18n.model';
import {broadcast}      from '@/core/service/broadcast.service';
import I18nInputService from '@/app/shared/service/i18n-input.service';

@Component
export default class NI18nTextarea extends Vue {
  randomId: string = this.$util.getRandomKey('NI18nTextarea');
  name: string = '';
  model: I18n.Input.Require | I18n.Input.Optional | null = null;
  state: boolean | null = null;
  i18nInputService = new I18nInputService();

  @PropSync('value')
  params!: I18n.Request.Default[];

  @Prop({type: String, default: Enum.CORE.I18N.MODEL.REQUIRE})
  type!: Enum.CORE.I18N.MODEL;

  @Prop({type: String, default: null})
  prefix!: string;

  @Prop({type: String, default: ''})
  prepend!: string;

  @Prop({type: String, default: ''})
  append!: string;

  @Prop({type: Boolean, default: false})
  trim!: boolean;

  @Prop({type: Boolean, default: false})
  disabled!: boolean;

  @Prop({type: String, default: ''})
  placeholder!: string;

  @Prop({type: String, default: null})
  title!: string;

  // right, left
  @Prop({type: String, default: 'right'})
  position!: string;

  // auto, top, bottom, left, right, topleft, topright, bottomleft, bottomright, lefttop, leftbottom, righttop, rightbottom
  @Prop({type: String, default: 'bottom'})
  placement!: string;

  created() {
    this.setValue();
    broadcast.$on(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  beforeDestroy() {
    broadcast.$off(Enum.CORE.ACTION.BROADCAST.SYSTEM_SETTING_CHANGE, this.getName);
  }

  setValue() {
    if (!this.model) {
      switch (this.type) {
        case Enum.CORE.I18N.MODEL.REQUIRE:
          this.model = this.$mapper.toObject(I18n.Input.Require, new I18n.Input.Require());
          break;
        case Enum.CORE.I18N.MODEL.OPTIONAL:
          this.model = this.$mapper.toObject(I18n.Input.Optional, new I18n.Input.Optional());
          break;
      }
    }

    this.params.forEach((param: I18n.Request.Default) => {
      if (!!this.model && !!Enum.CORE.I18N.LANG.ENUM[param.languageType]) {
        this.model[param.languageType] = param.content;
      }
    });

    this.getName();
  }

  getName() {
    const language: Enum.CORE.I18N.LANG.ENUM = this.i18nInputService.getLanguage();

    if (!!this.model) {
      this.name = !!this.model[language] ? this.model[language] : '';
    }

    this.getState();
  }

  @Watch('model', {deep: true, immediate: true})
  getModel() {
    this.$nextTick(() => {
      _.forEach(this.model, (value: string, key: string) => {
        if (this.i18nInputService.isExist(Enum.CORE.I18N.LANG.ENUM[key], this.params)) {
          const index = this.i18nInputService.getExistIndex(Enum.CORE.I18N.LANG.ENUM[key], this.params);
          if (index !== null) {
            switch (this.type) {
              case Enum.CORE.I18N.MODEL.REQUIRE:
                if (this.i18nInputService.isLanguageRequire(Enum.CORE.I18N.LANG.ENUM[key])) {
                  this.params[index].content = value;
                } else {
                  if (!!value) {
                    this.params[index].content = value;
                  } else {
                    this.params.splice(index, 1);
                  }
                }
                break;
              case Enum.CORE.I18N.MODEL.OPTIONAL:
                if (!!value) {
                  this.params[index].content = value;
                } else {
                  this.params.splice(index, 1);
                }
                break;
            }
          }
        } else {
          switch (this.type) {
            case Enum.CORE.I18N.MODEL.REQUIRE:
              if (this.i18nInputService.isLanguageRequire(Enum.CORE.I18N.LANG.ENUM[key])) {
                this.params.push(this.$mapper.toObject(I18n.Request.Default, new I18n.Request.Default(Enum.CORE.I18N.LANG.ENUM[key], value)));
              } else {
                if (!!value) {
                  this.params.push(this.$mapper.toObject(I18n.Request.Default, new I18n.Request.Default(Enum.CORE.I18N.LANG.ENUM[key], value)));
                }
              }
              break;
            case Enum.CORE.I18N.MODEL.OPTIONAL:
              if (!!value) {
                this.params.push(this.$mapper.toObject(I18n.Request.Default, new I18n.Request.Default(Enum.CORE.I18N.LANG.ENUM[key], value)));
              }
              break;
          }
        }
      });
    });
  }

  @Watch('params', {deep: true, immediate: true})
  getParams() {
    this.setValue();
  }

  getState() {
    this.state = this.i18nInputService.getState(this.model);
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.model) {
      returnValue = this.i18nInputService.getMessage(this.model);
    }

    return returnValue;
  }
}
</script>
