<template>
  <div>
    <b-input-group :prepend="prepend" :append="append">
      <b-form-input :type="type"
                    :number="number"
                    v-model="model"
                    :placeholder="placeholder"
                    :max="max"
                    :min="min"
                    :step="step"
                    :state="getState"
                    autocomplete="off"
                    :trim="trim"
                    :disabled="disabled"
                    :no-wheel="true"
                    @change="$emit('change', model)"/>
    </b-input-group>

    <b-form-invalid-feedback v-if="messages" :state="getState">
      {{ getMessage }}
    </b-form-invalid-feedback>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Watch, Vue} from 'vue-property-decorator';

import {Enum}       from '@/app/shared/enum/enum';
import InputService from '@/app/shared/service/input.service';

@Component
export default class NInput extends Vue {
  model: string | number | null = null;
  inputService = new InputService();

  @Prop({default: null})
  value!: string | number | null;

  @Prop({type: String, default: null})
  name!: string;

  @Prop({type: String, default: null})
  prefix!: string;

  @Prop({default: Enum.CORE.FORM.INPUT_TYPE.TEXT})
  type!: Enum.CORE.FORM.INPUT_TYPE;

  @Prop({type: String, default: ''})
  prepend!: string;

  @Prop({type: String, default: ''})
  append!: string;

  @Prop({type: Boolean, default: false})
  number!: boolean;

  @Prop({type: Boolean, default: false})
  trim!: boolean;

  @Prop({type: Boolean, default: true})
  messages!: boolean;

  @Prop({type: Boolean, default: false})
  disabled!: boolean;

  @Prop({type: String, default: ''})
  placeholder!: string;

  @Prop({default: null})
  min!: string | number;

  @Prop({default: null})
  max!: string | number;

  @Prop({default: null})
  step!: string | number;

  @Prop({default: null})
  maxLength!: string | number;

  @Prop({default: null})
  parent!: any;

  created() {
    this.setModel();
  }

  @Watch('value')
  getValue(newValue: string | number | null, oldValue: string | number | null) {
    if (newValue !== null && newValue !== undefined) {
      const min: number | null = !this.$util.isEmpty(this.min) ? parseInt(this.min.toString(), 10) : null;
      const max: number | null = !this.$util.isEmpty(this.max) ? parseInt(this.max.toString(), 10) : null;
      const maxLength: number | null = !this.$util.isEmpty(this.maxLength) ? parseInt(this.maxLength.toString(), 10) : null;

      if (maxLength !== null && (newValue.toString().length > maxLength)) {
        this.$nextTick(() => {
          if (newValue.toString().length === (maxLength + 1)) {
            this.model = oldValue;
          } else {
            const substr = newValue.toString().substr(0, maxLength);
            this.model = this.number ? parseInt(substr, 10) : substr;
          }
        });
        return false;
      }

      if (this.number) {
        if (max !== null && (parseInt(newValue.toString(), 10) > max)) {
          this.$nextTick(() => {
            this.model = max;
          });
          return false;
        }

        if (min !== null && (parseInt(newValue.toString(), 10) < min)) {
          this.$nextTick(() => {
            this.model = min;
          });
          return false;
        }
      }
    }

    this.setModel();
  }

  setModel() {
    if (!!this.prefix) {
      if (!!this.value) {
        const value = this.value.toString();
        this.model = value[0] === '/' ? value.slice(1, value.length) : value;
      } else {
        this.model = null;
      }
    } else {
      this.model = this.value;
    }
  }

  @Watch('model')
  getModel() {
    if (!!this.prefix) {
      if (!!this.model) {
        this.$emit('input', `${this.prefix}${this.model}`);
      } else {
        this.$emit('input', null);
      }
    } else {
      this.$emit('input', this.model);
    }
  }

  get getState(): boolean | null {
    let returnValue: boolean | null = null;

    if (!!this.parent && !!this.name) {
      returnValue = this.inputService.getState(this.name, this.parent);
    }

    return returnValue;
  }

  get getMessage(): string {
    let returnValue: string = '';

    if (!!this.parent && !!this.name) {
      returnValue = this.inputService.getMessage(this.name, this.parent);
    }

    return returnValue;
  }
}
</script>
