<template>
  <div id="app"
       style="height: 100%;"
       @drop.prevent="onDrop"
       @dragover.prevent
       @dragenter.prevent>
    <router-view/>
    <n-toasts/>
    <n-spinner/>
    <n-image-viewer/>
  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';

@Component
export default class App extends Vue {

  onDrop() {
    return false;
  }
}
</script>
