<template>
  <b-pagination v-show="show"
                v-model="number"
                :total-rows="page.totalElements"
                :per-page="page.size"
                align="center"
                :class="classType"/>
</template>

<script lang="ts">
import {Vue, Watch, Component, Prop} from 'vue-property-decorator';

import {Pageable} from '@/app/shared/model/pageable.model';

@Component
export default class NPageNavigation extends Vue {
  show: boolean = false;
  number: number = 1;

  @Prop({default: new Pageable.Response.Page<any>()})
  page!: Pageable.Response.Page<any>;

  @Prop({default: 'mt-2'})
  classType!: string;

  created() {
    this.initialize();
  }

  @Watch('number')
  getNumber() {
    this.$emit('changed', this.number - 1);
  }

  @Watch('page')
  getPage() {
    this.initialize();
  }

  private initialize() {
    this.show = !!this.page && !this.$util.isEmpty(this.page.number);

    if (this.show) {
      this.$nextTick(() => {
        this.number = this.page.number + 1;
      });
    }
  }
}
</script>
