<template>
  <b-row>
    <b-col class="pr-0" style="max-width: 110px !important;">
      <n-select name="size"
                v-model="size"
                :option="sizeOptions"
                :disabled="!active"/>
    </b-col>

    <b-col style="max-width: 100% !important; align-items: flex-end; display: flex;">
      <template v-if="!!page">
        <b>
          총 <span class="em-check">{{ (!$util.isEmpty(page.totalElements) ? page.totalElements : 0) | commaFilter }}건</span>의 결과가 있습니다.&nbsp;
          ({{ (!$util.isEmpty(page.number) ? page.number + 1 : 0) | commaFilter }}/{{ (!$util.isEmpty(page.totalElements) && !$util.isEmpty(page.size) ? Math.ceil(page.totalElements / page.size) : 0) | commaFilter }})
        </b>
      </template>
    </b-col>

    <b-col class="text-right">
      <slot/>
    </b-col>
  </b-row>
</template>

<script lang="ts">
import {Component, Vue, Prop, Watch} from 'vue-property-decorator';

import {N_PAGE_INFO_CONFIG, PAGE_DEFAULT_SIZE} from '@/app/shared/config/n-page-info.config';
import {Pageable}                              from '@/app/shared/model/pageable.model';

@Component
export default class NPageInfo extends Vue {
  size: number = PAGE_DEFAULT_SIZE();
  sizeOptions = N_PAGE_INFO_CONFIG;

  @Prop({default: null})
  value!: number;

  @Prop({default: null})
  page!: Pageable.Response.Page<any>;

  @Prop({default: true})
  active!: boolean;

  created() {
    this.setSearchSize();
  }

  @Watch('value')
  getValue() {
    this.setSearchSize();
  }

  @Watch('size')
  getSize() {
    this.$emit('input', this.size);
  }

  private setSearchSize() {
    if (!!this.value && this.size !== this.value) {
      this.size = this.value;
      this.$emit('input', this.size);
    }
  }
}
</script>
