<template>
  <span>
    <b-badge class="mr-1"
             :class="{'badge-warning': num > 0, 'badge-success': num === 0}"
             v-if="!$util.isEmpty(num)">
      {{ num }}
    </b-badge>
  </span>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class NBadge extends Vue {
  @Prop({default: null})
  num!: number;
}
</script>
