<template>
  <span>
    <span :id="randomId"
          ref="trigger"
          tabindex="-1"
          @click.capture="interceptEvent">
      <slot/>
    </span>
    <b-popover :target="randomId"
               :show.sync="isOpen"
               :placement="placement"
               triggers="blur"
               class="click-confirm"
               custom-class="popover-none"
               ref="popover"
               @hidden="onHidden">

      <template slot="title">
        <div class="popover-title">{{ apply.title }}</div>
      </template>

      <div class="text-center">
        <button v-for="action in apply.actions"
                :class="[action.class, buttonSizeClass]"
                @click.prevent="onButtonClick(action.callback)"
                ref="buttonYes"
                class="mr-1">
          <slot name="confirm-yes-icon">
            <span v-if="action.icon" :class="action.icon" aria-hidden="true"/>
          </slot>

          {{ action.name }}
        </button>

        <button v-if="!!apply.no" :class="[apply.no.class, buttonSizeClass]"
                @click.prevent="onCancel"
                ref="buttonNo">
          <slot name="confirm-no-icon">
            <span v-if="apply.no.icon" :class="apply.icon" aria-hidden="true"/>
          </slot>

          {{ apply.no.name }}
        </button>
      </div>
    </b-popover>
  </span>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import {MESSAGE_EVENT_OPTIONS} from '@/app/shared/config/n-confirm-event.config';

@Component
export default class NConfirmEvent extends Vue {
  apply: any = null;
  target: any = null;
  isOpen: boolean = false;
  randomId: string = this.$util.getRandomKey('NConfirmEvent');

  @Prop({type: String, default: 'DEFAULT'})
  type!: string;

  @Prop({type: Boolean, default: false})
  disabled!: boolean;

  @Prop({type: String, default: 'top'})
  placement!: string;

  @Prop({
    type: String, default: '', validator(value: string) {
      return ['lg', '', 'sm'].includes(value);
    }
  })
  buttonSize!: string;

  get buttonSizeClass() {
    return this.$props.buttonSize ? 'btn-' + this.$props.buttonSize : '';
  }

  created() {
    this.apply = MESSAGE_EVENT_OPTIONS[this.type];
  }

  onHidden() {
    this.target = null;
  }

  onButtonClick(callback: string) {
    this.$emit('callback', callback);
    this.onCancel();
  }

  onCancel() {
    this.isOpen = false;
  }

  interceptEvent(e: any) {
    if (this.$props.disabled) {
      return;
    }

    this.isOpen = true;
    e.preventDefault();
    e.stopPropagation();
    e.stopImmediatePropagation();
  }

  beforeDestroy() {
    if (this.isOpen) {
      this.onCancel();
    }
  }
}
</script>
