<template>
  <span>
    <span :id="randomId"
          ref="trigger"
          tabindex="-1"
          @click.capture="interceptEvent">
      <slot/>
    </span>
    <b-popover :container="container"
               :target="randomId"
               :show.sync="isOpen"
               :placement="placement"
               triggers="blur"
               class="click-confirm"
               ref="popover"
               @hidden="onHidden">

      <template slot="title">
        <div class="popover-title">{{ apply.title }}</div>
      </template>

      <div class="text-center">
        <button :class="[apply.yesClass, buttonSizeClass]"
                @click.prevent="onOk"
                ref="buttonYes"
                class="mr-1">
          <slot name="confirm-yes-icon">
            <span v-if="apply.yesIcon" :class="apply.yesIcon" aria-hidden="true"/>
          </slot>

          {{ apply.yes }}
        </button>

        <button :class="[apply.noClass, buttonSizeClass]"
                @click.prevent="onCancel"
                ref="buttonNo">
          <slot name="confirm-no-icon">
            <span v-if="apply.noIcon" :class="apply.noIcon" aria-hidden="true"/>
          </slot>

          {{ apply.no }}
        </button>
      </div>
    </b-popover>
  </span>
</template>

<script lang="ts">
import _                             from 'lodash';
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

import {MESSAGE_OPTIONS} from '@/app/shared/config/n-confirm.config';

@Component
export default class NConfirm extends Vue {
  target: any = null;
  isOpen: boolean = false;
  allow: boolean = false;
  randomId: string = this.$util.getRandomKey('NConfirm');
  apply: any = MESSAGE_OPTIONS[`ADD`];

  @Prop({type: String, default: 'ADD'})
  type!: string;

  @Prop({type: String, default: null})
  prefix!: string;

  @Prop({type: Object, default: null})
  messages!: any;

  @Prop({type: String, default: null})
  container!: string;

  @Prop({type: Boolean, default: false})
  disabled!: boolean;

  @Prop({type: String, default: 'top'})
  placement!: string;

  @Prop({type: [String, Array, Object], default: 'fa fa-check'})
  yesIcon!: string;

  @Prop({type: [String, Array, Object], default: 'btn blue'})
  yesClass!: string;

  @Prop({type: [String, Array, Object], default: 'btn gray'})
  noClass!: string;

  @Prop({type: [String, Array, Object], default: 'fa fa-times'})
  noIcon!: string;

  @Prop({
    type: String, default: '', validator(value: string) {
      return ['lg', '', 'sm'].includes(value);
    }
  })
  buttonSize!: string;

  mounted() {
    if (_.isNull(this.messages)) {
      this.apply = MESSAGE_OPTIONS[this.type];
      this.apply.title = _.isEmpty(this.prefix) ? this.apply.title : `${this.prefix} ${this.apply.title}`;
    } else {
      this.apply = this.messages;
      this.apply.yesIcon = this.yesIcon;
      this.apply.yesClass = this.yesClass;
      this.apply.noClass = this.noClass;
      this.apply.noIcon = this.noIcon;
    }
  }

  get buttonSizeClass() {
    return this.$props.buttonSize ? 'btn-' + this.$props.buttonSize : '';
  }

  @Watch('disabled')
  onDisabledChanged(newValue: boolean) {
    if (newValue && this.isOpen) {
      this.onCancel();
    }
  }

  onHidden() {
    this.target = null;
  }

  onOk() {
    if (this.target !== null) {
      this.allow = true;

      const mouseClick = document.createEvent('MouseEvent');
      mouseClick.initMouseEvent('click',
          true, true, window, 0, 0, 0, 0, 0,
          false, false, false, false, 0, null
      );

      if (!this.target.dispatchEvent(mouseClick)) {
        console.error('Confirmed event failed to dispatch');
      }
      this.allow = false;
    }
    this.onCancel();
  }

  onCancel() {
    this.isOpen = false;
  }

  interceptEvent(e: any) {
    if (this.$props.disabled) {
      return;
    }
    this.target = e.target;
    if (!this.allow) {
      this.isOpen = true;
      // this.setFocusOnButtonYes();
      e.preventDefault();
      e.stopPropagation();
      e.stopImmediatePropagation();
    }
  }

  beforeDestroy() {
    if (this.isOpen) {
      this.onCancel();
    }
  }
}
</script>
