<template>
  <i class="far fa-question-circle"
     :id="randomId"
     :style="{'float': this.position}">
    <b-popover :target="randomId"
               triggers="hover focus"
               class="click-confirm"
               :placement="placement">

      <template slot="title">
        <div class="popover-title">{{ title }}</div>
      </template>

      <template v-if="!!hintPosition && hintPosition === 'top' && !!hint">
        <div style="font-size: 11px;">
          {{ hint }}
        </div>
      </template>

      <template v-if="!!enums">
        <hr class="solid mt-2 mb-2" v-if="!!hintPosition && hintPosition === 'top' && !!hint">

        <b-row v-for="map in enumMap" :key="map.value">
          <b-col>
            <n-span :value="map.value" :enum="enums" :align="'1px'"/>
          </b-col>
        </b-row>

        <hr class="solid mt-2 mb-2" v-if="!!hintPosition && hintPosition === 'bottom' && !!hint">
      </template>

      <template v-if="!!hintPosition && hintPosition === 'bottom' && !!hint">
        <div style="font-size: 11px;">
          {{ hint }}
        </div>
      </template>

    </b-popover>
  </i>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import {Shared}    from '@/app/shared/model/shared.model';
import EnumService from '@/app/shared/service/enum.service';

@Component
export default class NHint extends Vue {
  randomId: string = this.$util.getRandomKey('NHint');
  enumMap: Shared.Options[] = [];
  enumService = new EnumService();

  @Prop({type: Object, default: null})
  enums!: any;

  @Prop({type: String, default: ''})
  title!: string;

  @Prop({type: String, default: ''})
  hint!: string;

  // top, bottom
  @Prop({type: String, default: 'top'})
  hintPosition!: string;

  // right, left
  @Prop({type: String, default: 'right'})
  position!: string;

  // auto, top, bottom, left, right, topleft, topright, bottomleft, bottomright, lefttop, leftbottom, righttop, rightbottom
  @Prop({type: String, default: 'topleft'})
  placement!: string;

  created() {
    if (!!this.enums) {
      this.enumMap = this.enumService.getOptions(this.enums);
    }
  }
}
</script>
