<template>
  <b-container class="view-box tab-menu-head" fluid="">
    <div class="tab-menu">
      <template v-for="(tab, index) in tabs">
        <b-button variant="dark"
                  class="mr-3"
                  :class="{'on': value === index}"
                  @click="changeTab(index)">
          {{ tab }}
        </b-button>
      </template>
    </div>

    <div class="btns">
      <b-button variant="dark"
                type="button"
                class="mr-2 ico-btn-prev"
                :disabled="value === 0"
                @click="prevTab">
        <span>이전</span>
      </b-button>

      <b-button variant="dark"
                type="button"
                class="ico-btn-next"
                :disabled="value === (tabs.length -1)"
                @click="nextTab">
        <span>다음</span>
      </b-button>
    </div>
  </b-container>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class NTab extends Vue {
  @Prop({default: 0})
  value!: number;

  @Prop({default: []})
  tabs!: string[];

  changeTab(num: number) {
    this.$emit('input', num);
  }

  prevTab() {
    if (this.value > 0) {
      const returnValue = this.value - 1;
      this.$emit('input', returnValue);
    }
  }

  nextTab() {
    if (this.value < (this.tabs.length - 1)) {
      const returnValue = this.value + 1;
      this.$emit('input', returnValue);
    }
  }
}
</script>
