<template></template>

<script lang="ts">
import 'reflect-metadata';
import _                 from 'lodash';
import {Vue, Component}  from 'vue-property-decorator';
import {ValidationError} from 'class-validator';

import router          from '@/router';
import {ERROR_MESSAGE} from '@/app/shared/config/toasts.config';
import {Toasts}        from '@/app/shared/model/toasts.model';
import {broadcast}     from '@/core/service/broadcast.service';
import StorageService  from '@/app/shared/service/storage.service';
import ToastsService   from '@/app/shared/service/toasts.service';

@Component
export default class NToasts extends Vue {
  storageService = new StorageService();
  toastsService = new ToastsService();

  created() {
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.TOAST_VALIDATE, this.onValidate);
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.TOAST_MESSAGE, this.onToast);
    broadcast.$on(this.$enum.CORE.ACTION.BROADCAST.TOASTS_ERROR, this.onError);
  }

  beforeDestroy() {
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.TOAST_VALIDATE);
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.TOAST_MESSAGE);
    broadcast.$off(this.$enum.CORE.ACTION.BROADCAST.TOASTS_ERROR);
  }

  private onError(errorRes: any) {
    if (!!errorRes) {
      const errorCode = this.$mapper.toObject(Toasts.CodeError, errorRes.response);
      const errorValid = this.$mapper.toObject(Toasts.ValidError, errorRes.response);

      if (!!errorCode.status) {
        switch (true) {
          case errorCode.status === 400:
            if (_.isEmpty(errorCode.data)) {
              if (_.isEmpty(errorValid.data.errors)) {
                this.onToast(ERROR_MESSAGE.ERROR_DEFAULT(errorValid.status, errorCode.data.error));
              } else {
                this.validFormType(errorValid);
              }
            } else {
              this.onToast(ERROR_MESSAGE.ERROR_CODE(errorValid.status, errorCode.data));
            }
            break;
          case errorCode.status === 401:
          case errorCode.status === 403:
            this.onToast(ERROR_MESSAGE.UNAUTHORIZED());
            this.storageService.resetLocalStorage();
            router.push('/auth/login');
            break;
          case errorCode.status === 500:
            this.onToast(ERROR_MESSAGE.ERROR_500(errorValid.status));
            break;
          case errorCode.status > 400 && errorCode.status < 600:
            if (_.isEmpty(errorCode.data.code)) {
              this.onToast(ERROR_MESSAGE.ERROR_DEFAULT(errorValid.status, errorCode.data.error));
            } else {
              this.onToast(ERROR_MESSAGE.ERROR_CODE(errorValid.status, errorCode.data.code));
            }
            break;
          default:
            this.onToast(ERROR_MESSAGE.ERROR_DEFAULT(errorValid.status, errorCode.data.error));
            break;
        }
      } else {
        this.onToast(ERROR_MESSAGE.ERROR('Timeout'));
      }
    } else {
      this.onToast(ERROR_MESSAGE.ERROR('Error'));
    }
  }

  private onValidate(errors: ValidationError[]) {
    errors.forEach((err: any) => {
      this.toastsService.validate(err);
    });

    this.onToast(new Toasts.Message({title: '오류 메시지', contents: this.toastsService.setDescription(errors, [])}));
  }

  private validFormType(errors) {
    const contents: string[] = [];
    errors.data.errors.forEach((error) => {
      contents.push(error.defaultMessage);
    });

    this.onToast(new Toasts.Message({title: `Http Status : ${errors.status}`, contents}));
  }

  private onToast(message: Toasts.Message) {
    this.$bvToast.toast(
        this.toastsService.getContents(message.contents),
        {
          title  : [this.toastsService.getTitle(message.title)],
          toaster: 'b-toaster-bottom-right',
          solid  : true,
          variant: message.variant
        }
    );
  }
}
</script>
